/*
Project Name: Alenka JDBC
Company: Technica Corporation
Company URI: http://www.technicacorp.com/
Graphics: Andy Hight (https://github.com/ahight)
HTML/CSS/Development: Devin Pinkston
Author URI: https://github.com/pinkdevelops
Description: Alenka JDBC is a library for accessing and manipulating data with the open-source GPU database Alenka.
*/


body {
  margin: 0;
  padding: 0;
  border: 0;  
  background-color: #FFFFFF;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 150%;
  color: #373737;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #E37311;
}

a {
  text-decoration: none;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#header, #footer {
    float:left;
    height: 61px;
    min-width:100%;
  }

#header {
  background-image: url('../images/back_header010101.png');
  background-repeat: repeat-x;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 200px;
  z-index: 10;
  height: 85px;
  width: 47px;
  color: #fff;
  background: url('../images/tab_whitecat.png')  no-repeat 95% 50%;
  font-weight: 700;
}

.alenkajdbclogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 544px;
  height:144px;
  overflow: visible;
  background: url(../images/logo_alenkajdbc.png) no-repeat bottom left;
}

#AlenkaJDBC_logo{

  min-width: 100%;
  background-color: #E37311;
  background-image:
    linear-gradient(
      #F7791D, #E37311
    );
}

#AlenkaJDBC_logo img{
    margin: auto;
    display: block;
    bottom: 0;
}

#main_content_wrap {
  background-color: #FFFFFF;  
}

#main_content {
  padding-top: 20px;

}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 940px; 
  margin: 0 auto;
}

#footerWrap{
  min-width: 100%;
  background-color: #002776;
}  

.footerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  padding: 0;
  width: 721px;
  height:58px;
  overflow: hidden;
  background: url(../images/footer_technicalogo.png) no-repeat bottom left;
}

#header_whitespace {
  float:left;
  height: 6px;
  min-width:100%;
  background-image: url('../images/headerWhiteSpace.png');
  background-repeat: repeat-x;
}
